
html{
    max-width: 968px;
    margin: 0 auto;
}

.menu{
    margin-top: 24px;
    margin-bottom: 24px;
}
.login{
    margin-top: 24px;
    margin-bottom: 24px;
}
ul{
    list-style: none;
    margin-left: 0;
}
li{
    margin-right: 44px;
}
.Top_img{
    margin-bottom: 96px;
}
.about{
    margin: 0 84px;
}
.about_img{
    width: 343px;
    height: 343px;
}
.text{
    height: 125px;
    width:445px;
    margin-right: 72px;
    margin-top: 110px:
}

.flow,.product,.us{
    margin-top: 112px;
}

.flow h3,.product h3{
    margin-bottom: 20px;
}
.content,.products,.us{
    margin-top: 40px;
}
.contents{
    width: 152px;
    height: 272px;
}
.contents img{
    width: 152px;
    height: 152px;
}
.contents p{
    margin-bottom: 4px;
    text-align: center;
}
.contents h4{
    margin-bottom: 16px;
    text-align: center;
}

.bar{
    width: 207px;
    height: 12px;
    background-color: antiquewhite; 
    position: absolute;
    top: 56px;
    right: 46px;
}
.title{
    font-size: 25px;
    margin-bottom: 0;
    position: absolute;
    top: 33px;
    right: 94px;
    z-index: 1;
}

.products-1{
    width: 264px;
    height: 264px;
    position: relative;
    margin: 53px;
}
.products-1{
    width: 264px;
    height: 264px;
    position: relative;
}
.products-1 img{
    width: 264px;
    height: 264px;
}

.products-1 p{
    margin-top: 25px;
    width: 152px;
    height: 60px;
    font-size: 10px;
    position: absolute;
    top:88px;
    left: 55px;
}
.button{
    width: 138px;
    height: 38px;    
    position: absolute;
    left: 63px;
    bottom: 24px;
    background: #ffffff;
    opacity: 50;
}
.button txt{
    
}
.button img{
    width: 24px;
    height: 24px;
}

table{
    margin-top: 100px;
    margin-left: 40px;
}
table tr{
    border-bottom: 3px solid black;
    height: 32px;
}


.footer{
    background-color: #343434;
    width: full;
    height: 215px;
    margin-top: 65px;
    color: #ffffff;
}
.f-contents-1{
    margin-left: 200px;
    position: relative;
    top:33px;
}
.f-contents-2{
    margin-left: 200px;
    position: relative;
    top: 28px;
}