
html{
    max-width: 968px;
    margin: 0 auto;
}

.menu{
    margin-top: 24px;
    margin-bottom: 24px;
}
.login{
    margin-top: 24px;
    margin-bottom: 24px;
}
ul{
    list-style: none;
    margin-left: 0;
}
li{
    margin-right: 44px;
}
.Top_img{
    margin-bottom: 96px;
}
.about{
    margin: 0 84px;
}
.about_img{
    width: 343px;
    height: 343px;
}
.text{
    height: 125px;
    width:445px;
    margin-right: 72px;
    margin-top: 110px:
}